.container {
    min-height: 100vh;
}

.content {
    padding: 1.5rem;
}

.sider {
    @media screen and (max-width: $media-sm) {
        width: 3rem !important;
        max-width: 3rem !important;
        min-width: 3rem !important;
    }
}
