@import '_importable';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  margin: 0 !important;
}
// ********************
// Ant Design Overrides
// ********************
.app-blue-bg-color {
  background: $app-blue !important;
}

.app-blue-shade-bg-color {
  background: $app-blue-shade !important;
}

.ant-picker-calendar-date-content {
  height: auto !important;
}

.ant-menu-item-selected {
  .ant-menu-title-content {
    svg {
      color: black;
    }

    h5 {
      color: black;
    }
  }
}

.ant-menu-title-content {
  svg {
    color: white;
  }

  h5 {
    color: white;
  }
}

.ant-list-item {
  @media screen and (max-width: $media-md) {
    padding: 0 !important;
  }
}

// ********************

footer {
  margin: 0 5rem;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  color: gray;
  border-top: 1px solid #e0e0e0;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  flex-direction: column;
}

.gray-text {
  color: var(--gray) !important;
}

.h-100 {
  height: 100%;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}
