html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

.ant-menu-light {
  background: #99ccff;
}

footer {
  margin: 0 5rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  color: gray;
  border-top: 1px solid #e0e0e0;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  flex-direction: column;
}

.gray-text {
  color: #818181 !important;
}
