.navBar {
    height: 100%;
}

.navBar a:hover {
    color: white;
}

.logo {
    display: flex;
    padding: 1rem 0;
    align-items: center;
}

.logo img {
    display: flex;
    margin: 0 1rem;
}

.logo h3 {
    padding-right: 1rem;
}
